@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
}

.first-nav {
  display: flex;
}

.second-nav {
  display: flex;
}

.nav-logo {
  margin-right: 40px;
  font-weight: 900;
  color: blueviolet;
}

.nav-links a {
  margin-right: 20px;
  text-decoration: none;
  font-weight: 700;
  color: black;
}

.button-upload {
  height: 50px;
  width: 120px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: white;
  border-radius: 30px;
}

.button-connect {
  height: 50px;
  width: 150px;
  background-color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  color: blueviolet;
  border-radius: 30px;
  border: 2px solid blueviolet;
  margin-left: 20px;
}

.hamburger svg {
  display: none;
}

@media screen and (max-width: 800px) {
  .hamburger svg {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .second-nav {
    display: none;
  }
}

.main-container {
  width: 90%;
  height: 100vh;
  margin: auto;
  margin-top: 80px;
}

.section-pertama {
  display: flex;
}

.kiri-title {
  font-size: 50px;
  font-weight: 700;
  max-width: 50%;
}

.kiri-about {
  font-size: 20px;
  font-weight: 400;
  max-width: 50%;
  margin-top: 20px;
  color: #565656;
}

.button-explore {
  height: 60px;
  width: 160px;
  background-color: #3d00b7;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  margin-top: 30px;
}
.count-container {
  display: flex;
  margin-top: 30px;
}
.count-number {
  font-size: 30px;
  font-weight: 900;
}

.count-item {
  margin-right: 20px;
}

/* .image-kanan img {
  width: 400px;
  height: 400px;
} */

@media screen and (max-width: 1150px) {
  .section-pertama {
    flex-direction: column;
  }
  .kiri-title {
    font-size: 30px;
    max-width: 90%;
  }
  .kanan-pertama {
    order: 1;
    margin-bottom: 30px;
  }

  .kiri-about {
    max-width: 90%;
  }
  .kiri-pertama {
    order: 2;
  }

  .image-kanan img {
    width: 80%;
  }
}

.section-kedua {
  margin-top: 80px;
}

.fitur {
  display: flex;
}

.fitur-title {
  font-size: 25px;
  font-weight: 900;
  max-width: 20%;
}

.fitur-item {
  display: flex;
  margin-left: 50px;
}

.fitur-about {
  max-width: 40%;
}

.kanan-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.kanan-fitur {
  margin-left: 20px;
}

@media screen and (max-width: 900px) {
  .fitur {
    flex-direction: column;
  }

  .fitur-item {
    margin-left: 0;
    margin-top: 40px;
  }

  .fitur-title {
    max-width: 60%;
  }

  .fitur-about {
    max-width: 80%;
  }
}
